<main class="uk-padding-medium">

    <section>
        <textarea class="uk-height-small uk-width-expand uk-background-secondary uk-bordered-default uk-text-default"
                  cols="30" rows="10" placeholder="ingresar texto aqui" disabled></textarea>
    </section>

    <section class="uk-flex uk-flex-wrap uk-child-width-expand">
        <div>
        /°
        (()=>{
    
            const data = [
                '1234567890',
                'qwertyuiop',
                'asdfghjklñ',
                'zxcvbnm',
            ], result = new Array();
    
            for( let x of data ) {
                result.push(`<div class="uk-flex uk-flex-center uk-child-width-1-${x.length}">`);
                x.split('').map(x=>{
                    result.push(`
                        <a onclick="window.click(this.innerText)"
                           class="uk-button uk-default" 
                           key="${x}">${x}</a>
                    `)
                }).join(); 
                result.push('</div>');
            }
    
            return result.join('');
    
        })()
        °/
            <a class="uk-button uk-default uk-width-expand" 
               onclick="window.click(' ')"
               key="space"> space </a>
        </div>

        <div class="uk-width-auto uk-flex uk-flex-wrap uk-flex-column">

            <a class="uk-button uk-default"
                style="height: 33.33%" key="backspace"
               onclick="window.delete()">erase</a>

            <a class="uk-button uk-default"
               style="height: 33.33%" key="delete"
               onclick="window.erase()">delete</a>

            <a class="uk-button uk-default"
               style="height: 33.33%" key="enter"
               onclick="window.encode()">encode</a>

        </div>

    </section>

</main>

<script>
(function(){

    window.click = function(char){
        window.state.set(state=>({
            text: state.text+char
        }));
    }

    window.erase = function(){
        let res = window.state.get('text');
        window.state.set({ text: '' });
    }

    window.delete = function(){
        let res = window.state.get('text');
            res = res.slice(0,res.length-1);
        window.state.set({ text: res });
    }

    window.encode = function(){
        window.state.set(state=>({ text: state.encoded }));
    }

    window.state.observeField('text',(prev,act)=>{
        $('textarea').innerText = act;
    })

    addEvent(window,'keydown',({key})=>{
        key = key.toLowerCase()
                 .replace(/ /,'space');
        $(`[key='${key}']`).click();
    })

})()
</script>