
/°
(()=>{
	process.page = new Object();
	process.page.name = 'Enigma Machine';
})();
°/

<!DOCTYPE html> <html lang="es">
	<head> <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="./main.css">
		<script src="./main.js"></script>

		<title>/°process.page.name°/</title>
	</head>

	<body class="uk-background-secondary uk-height-1-1">
		<° ./comp/navbar.html °>
		<° ./comp/main.html °>
	</body>	

</html>